# Binaries and test outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# Project specific: BAS engine downloaded data
/data/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go workspace
go.work
go.work.sum
